{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }],
    "react/require-extension": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "plugins": [
    "import",
  ],
}
